@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
    background-color: $AntiWhite;
    display: flex;
    flex-direction: column;

    &__title {
        padding: 16px;

        @include desktop {
            width: $maxW;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__card-container {
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include tablet {
            justify-content: unset;
            gap: 30% 3%;
            flex-direction: row;
            flex-wrap: wrap;
        }


        @include desktop {
            max-width: $maxW;
            margin-left: auto;
            margin-right: auto;
        }
    }
}