@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets//stitch-svgrepo-com.svg);
    min-height: 100vh;
    // background-size: contain;


    &__title {
        padding: 16px;

        @include tablet {
            padding: 0 32px;
        }
    
        @include desktop {
            padding: 0 64px;
            width: 100%;
            max-width: $maxW;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__card-container {
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include tablet {
            justify-content: unset;
            gap: 30% 0.5%;
            flex-direction: row;
            flex-wrap: wrap;
        }


        padding: 0 16px;

        @include tablet {
            padding: 0 32px;
        }
    
        @include desktop {
            padding: 0 64px;
            max-width: $maxW;
            margin-left: auto;
            margin-right: auto;
        }
    }
}