//breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 601px;
$desktop-breakpoint: 1024px;

/*Urbanist Web font - Google  TypeKit*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Urbanist", sans-serif;

// colors: 
$PolyBlue: #004E98;
$BiceBlue: #3A6EA5;
$Silver: #C0C0C0;
$AntiWhite: #EBEBEB;
$LightBlue: #B8D8D8;
$CadetGray: #8FAAAA;
$Red: #BF1A2F;
$Beige: #EEF5DB;
$Black: #13182c;