//breakpoints
$mobile-breakpoint: 680px;
$tablet-breakpoint: 681px;
$desktop-breakpoint: 1024px;

/*Urbanist Web font - Google  TypeKit*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Urbanist", sans-serif;

// colors: 
$Black: #14182a;
$LightBlue: #B8D8D8;
$LightBlueL: rgb(184, 216, 216, 0.5);
$CadetGray: #8FAAAA;
$CadetGrayL: rgb(143, 170, 170, 0.5);
$RustyRed: #DE3C4B;
$SeaGreen: #3E885B;


$Beige: rgb(238, 245, 219, 0.5);
$PolyBlue: #004E98;
$DarkBlue: #072644;
$BiceBlue: #3A6EA5;
$Silver: #C0C0C0;
$AntiWhite: #EBEBEB;

$maxW: 1250px