@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    background-color: $LightBlue;
    padding: 1rem;
    display: flex;
    justify-content: center;

    & p {
        color: $CadetGray;
    }
}