@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../pages/DetailsPage/DetailsPage.scss";

.details {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            display: flex;
        }
    }

    &__title-mobile {
        @include tablet {
            visibility: hidden;
            display: none;
        }
    }

    &__btn-container-mobile {
        display: flex;
        align-items: center;
        // margin-left: auto;
        margin: 0 10px 0 auto;

        @include tablet {
            visibility: hidden;
            display: none;

        }
    }

    &__btn-container-desktop {

        visibility: hidden;
        display: none;

        @include tablet {
            visibility: visible;
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
        }

    }

    &__modals {
        display: flex;
        align-items: flex-end;

        & img {
            padding: 4px;
            margin-left: 4px;
            background-color: $CadetGrayL;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background-color: $CadetGray;
            }
        }
    }

    &__avatar {
        width: 150px;
        min-width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 1rem;
        align-self: center;
        border: 2px solid $CadetGray;
        object-fit: cover;

        @include tablet {
            align-self: unset;
        }
    }

    &__text-container {
        @extend .design-details__text-container;

        & h2 {
            margin-bottom: 4px;
        }

        & p {
            @include text
        }
    }

    &__text {
        width: 100%;
    }

    &__logout {
        padding: 4px 8px;
        border-radius: 20px;
        background-color: $CadetGrayL;
        line-height: 1rem !important;
        margin-left: auto;

        &:hover {
            font-weight: 600;
            cursor: pointer;
            background-color: $CadetGray;
        }
    }

}