@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

header{
    background-color: $LightBlue;
}

.nav-bar{

    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0;
    padding-bottom: 16px;

    @include tablet {
        flex-direction: row;
        padding-bottom: 0;
    }

    @include desktop {
        max-width: $maxW;
        margin-left: auto;
        margin-right: auto;
    }

    &__link {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo{
        max-width: 100%;
        
        @include tablet {
            max-height: 75px;
        }
    }

    &__container {
        display: flex;
        align-self: center;
        width: 90%;
        align-items: center;

        @include tablet {
            width: auto;
            margin-left: auto;
            margin-right: 1rem;
        }
    }

    &__search-container {
        display: flex;
        background-color: white;
        width: 90%;
        border-radius: 20px;
        border: 1px solid $Black;
        height: max-content;

       & input {
            border: none;
            width: 100%;
            background-color: transparent;
            margin-left: 0.5rem;
            padding: 8px 0;
        }

        & img {
            margin-right: 0.5rem;
        }
    }
    &__login {
        margin-left: 1rem;
        align-self: center;
        text-wrap: nowrap;

        &:hover {
            color: $DarkBlack;
            cursor: pointer;
            border-bottom: 2px solid $DarkBlack;
        }
    }

    &__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $AntiWhite;
        margin-left: 1rem;
        align-self: center;

        &:hover {
            border-bottom: none;
        }
    }
}
