@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.Modal{
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;

    @include tablet {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.login{
    // display: flex;
    // flex-direction: column;
    &__title {
        @include subheading;
        margin-bottom: 16px;
    }

    &__close{
        background-color: transparent;
        border: none;
        margin-left: auto;
        display: flex;

        & image {
            margin-left: auto;
        }
    }

    &__form{
    display: flex;
    flex-direction: column;

    & label {
        @include text;
    }
    }

    &__login-btn {
        margin: 1.1rem 0;
        border: none;
        background-color: transparent;
        width: 4rem;
        // margin-left: auto;
        font-size: 1rem;
        padding: 0;
        text-align: left;

        &:hover {
            font-weight: 550;
            cursor: pointer;
        }
    }

    &__error-message{
        @include text;
        font-weight: 500;
        color: $RustyRed;
    }

    &__success-message {
        @include text;
        font-weight: 500;
        color: $SeaGreen;
    }

}