@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ReactModal__Overlay {
    z-index: 2;
}

.edit{

    &__avatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $AntiWhite;
        margin-left: 1rem;
        align-self: center;
        border: 1px solid $CadetGray;
    }
}